* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

input {
    padding: 10px;
    width: 60%;
}

#search {
    width: 20%;
}

img {
    width: 30%;
}